<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>
<%= link_to "Add a reivew", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to Restaurants", restaurants_path %>
